.md-container h1 {
    font-size: 2em; /* Larger size for main headings */
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
}

.md-container h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

.md-container h3 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.md-container h4 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    font-weight: bold;
}

.md-container h5 {
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    font-weight: bold;
}

.md-container h6 {
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    font-weight: bold;
}

.md-container p {
    font-size: 1em; /* Standard text size */
    margin-top: 0em;
    margin-bottom: 1em;
}

.md-container ul, .md-container ol {
    padding-left: 40px;
    margin-top: 0em;
    margin-bottom: 1em;
}

.md-container li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.md-container blockquote {
    margin: 1em 40px;
    padding-left: 15px;
    border-left: 5px solid #ccc; /* Typical styling for blockquotes */
}

.md-container code {
    font-family: monospace;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
}

.md-container pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 3px;
    overflow: auto;
}

.md-container a {
    color: #0000FF; /* Standard link color */
    text-decoration: none;
}

.md-container a:hover {
    text-decoration: underline;
}

.md-container strong {
    font-weight: bold;
}

.md-container em {
    font-style: italic;
}

.md-container pre {
    background-color: #3E3E42;

}

.md-container code {
    background-color: #3E3E42;
}

.dark-table {
    border-collapse: collapse;
    width: 100%;
    /*background-color: #1a1a1a;*/
    color: #ffffff;
}

.dark-table th,
.dark-table td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
}

.dark-table th {
    background-color: #333333;
    font-weight: bold;
}

.dark-table tr:nth-child(even) {
    background-color: #2c2c2c;
}

.dark-table tr:hover {
    background-color: #3a3a3a;
}

#sui .ui.tabular.menu .active.item {
    background: none rgb(40, 44, 52);
    color: rgba(0, 0, 0, .95);
    border-top-width: 1px;
    font-weight: 700;
    margin-bottom: -1px;
    box-shadow: none;
    border-radius: .28571429rem .28571429rem 0 0 !important;
    border-color: rgb(82 82 91);
}
.ui.tabular.menu {
    overflow-x: auto !important;
    white-space: nowrap !important;
    flex-wrap: nowrap !important;
    display: flex !important;
    max-width: inherit;
}

.ui.menu.scrolling-menu {
    overflow-x: auto !important;
    white-space: nowrap !important;
    flex-wrap: nowrap !important;
    display: flex !important;
    max-width: inherit;
}

/* Prevent the items from stretching or shrinking */
.ui.menu.scrolling-menu .item {
    flex: 0 0 0 !important;
    max-width: inherit;
}

#sui .ui.attached.tabular.menu {
   border-bottom-color: rgb(82 82 91);
}

#sui .ui.secondary.pointing.menu .active.item {
    color: whitesmoke;
    border-right: 1px solid rgb(82 82 91);
}

#sui .ui.secondary.pointing.menu .item {
    color: rgb(82 82 91);
    border-right: 1px solid rgb(82 82 91);
}

#sui .ui.secondary.pointing.menu {
    border: 1px solid rgb(82 82 91);
    border-radius: 5px;
    position: relative;
}

.horizontal-scroll-container .tab-menu {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .horizontal-scroll-container .tab-menu::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
  
  .horizontal-scroll-container {
    position: relative;
  }
  
  .horizontal-scroll-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    right: 1px;
    height: 2px;
    background: linear-gradient(to right, #6AAA51 var(--scroll), rgb(82 82 91) var(--scroll));
  }

